@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  /*设置标题的位置 top/bottom/inherit*/
  caption-side: bottom;
  /*设置是否把表格边框合并为单一的边框*/
  border-collapse: collapse;
}

td, th {
  border: thin dotted gray;
  padding: 5px;
}

caption {
  font-style: italic;
  padding-top: 8px;
}

/*用类选择器将日期、温度和用餐评分居中对齐;
让海拔高度和人口右对齐*/
.center {
  text-align: center;
}

.right {
  text-align: right;
}

th {
  background-color: #cc6600;
}

/*对表格着色的一种常用的方法是为各行指定交替的颜色，这样更容易区分各行
方法1:*/
/* .cellcolor {
  background-color: #fcba7a;
}

.othercellcolor {
  background-color: 	#ffdeaf;
} */

/*
方法2:
我们选择CSS3 nth-child(n)选择器，用于匹配属于其父元素的第几个元素
除了使用2n,2n+1;也可以使用even/odd表示奇数和偶数行
*/
tr:nth-child(2n) {
  background-color: #fcba7a;
}

tr:nth-child(2n+1) {
  background-color: #ffdeaf;
}

/*我们需要让单元格跨多行，因此上面指定奇偶行颜色就不行了*/

table table th {
  background-color: rgb(250, 167, 167);
}

/*我们用另一种方法来分别选择让Tony和Tess的表行有不同的背景颜色*/
/* table table tr:nth-child(2n + 1) td, table table tr:nth-child(2n + 1) th {
  background-color: rgb(70, 102, 172);
}

table table tr:nth-child(even) td, table table tr:nth-child(even) th {
  background-color: rgb(206, 36, 87);
} */


/*可以为列表增加一些样式 
对<ul>设置list-style-type这个属性，那么<li>元素会继承<ul>元素设置的样式
list-stype: 简写属性
list-style-image: 将图像设置为列表项标志
list-style-position: 列表项标志的位置
list-style-type 设置列表项标志的类型*/
li {
  list-style-image: url(images/backpack.gif);
  padding-top: 5px;
  margin-left: 20px;
}